.main{
    text-align: center;
    justify-content: center;
    margin:10%;
    font-size: larger;
}

.Slider{
    border-color: green;
    border: 2px solid;
    color:salmon;
    border-radius:10%;
}


.Slide{
    background-color: rgb(236, 232, 232);
    margin:5%;
}
.Slide-none{
    display: none;
}
button{
    background-color: rgb(236, 232, 232);
    width:100px;
    height:50px;
    padding:5px;
    margin:10px;
    border-radius:10%;
    border-color:salmon;
}